#questionContainer {
display: none;
}
/* need an ID for the game summary page */
#gameSummaryContainer {
display: none;
}
#flexRowStyle {
margin-bottom: 20px;
}
/*  easter egg link style */
a { text-decoration : none; color : #000;
}
.jumbotron {
background-image: url("http://acejet170.typepad.com/photos/uncategorized/polaroidstripes.jpg");
color: white;
text-shadow: black 0.3em 0.3em 0.3em;
}
#countdown {
color: red;
}


.col-2 {
	border-style: solid;
	border-color: lightgray;
	color: lightgray;


}